#wpadminbar #wp-admin-bar-my-sites>.ab-item,
#wpadminbar #wp-admin-bar-site-name>.ab-item{
	padding-left:40px
}
#dn_option-contact_maps img{
	max-width:none
}
#wpadminbar #wp-admin-bar-my-sites>.ab-item:before, #wpadminbar #wp-admin-bar-site-name>.ab-item:before{
content: ''!important;
    width: 35px;
    height: 28px;
    background-image: url(../img/static/site-logo.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-color: transparent!important;
    z-index: 10;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2px;
		left:2px
}

#dashboard_right_now li.comment-count{
	display:none!important
}