// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin transition($trans: all .2s ease-out){
	transition: $trans;
	-moz-transition: $trans;
	-o-transition: $trans;
	-webkit-transition: $trans;
	-ms-transition: $trans;
}
@mixin pos($pos: translate(-50%,-50%)){
	transform: $pos;
	-moz-transform: $pos;
	-webkit-transform: $pos;
	-o-transform: $pos;
	-ms-transform: $pos;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

*:focus {
	outline: 0;
}


.row {
	margin-left: 0;
	margin-right: 0;
}

.container .row {
	margin-left: -15px;
	margin-right: -15px;
}

@mixin bp($point) {
  @if $point == lg {
	@media (max-width: 1200px) { @content; }
  }
  @else if $point == xl {
	@media (max-width: 1700px) { @content; }
  }
  @else if $point == xlg {
	@media (max-width: 1300px) { @content; }
  }
  @else if $point == md {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == sm {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == xsm {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == xs {
    @media (max-width: 500px)  { @content; }
  }
  @else if $point == xxs {
    @media (max-width: 400px)  { @content; }
  }
  @else if $point == 1600 {
    @media (max-width: 1600px)  { @content; }
  }
}

@mixin mbp($point) {
  @if $point == lg {
	@media (min-width: 1200px) { @content; }
  }
  @else if $point == xl {
	@media (min-width: 1700px) { @content; }
  }
  @else if $point == xlg {
	@media (min-width: 1300px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == sm {
    @media (min-width: 767px) { @content; }
  }
  @else if $point == xsm {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == xs {
    @media (min-width: 500px)  { @content; }
  }
  @else if $point == xxs {
    @media (min-width: 400px)  { @content; }
  }
  @else if $point == 1600 {
    @media (min-width: 1600px)  { @content; }
  }
}


@mixin bg(){
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin placeholder(){
	input:-moz-placeholder { @content; }
	:-ms-input-placeholder { @content; }
	::-moz-placeholder { @content; }
	::-webkit-input-placeholder { @content; }
}
@mixin pos($p: translate(-50%,-50%)){
	transform: $p;
	-webkit-transform: $p;
	-ms-transform: $p;
	-moz-transform: $p;
}